In [ ]:
import pandas as pd

In [ ]:
dataset=pd.read_csv("PrePlacement.csv")
dataset

# 1)Replace the NaN values with correct value. And justify why you have chosen the same.

In [ ]:
dataset.isnull().sum()

#NO NAN VALUE FOR THE DATASET

# 2)How many of them are not placed?

In [ ]:
dataset['status']

In [ ]:
if (dataset['status'] == "Not Placed").any():
    print("not placed")
else:
    print("placed")

In [ ]:
not_placed_count = (dataset['status'] == "Not Placed").sum()
placed_count = (dataset['status'] != "Not Placed").sum()

print("Not Placed Count:", not_placed_count)
print("Placed Count:", placed_count)

#This method sums() True value is treated as 1 and False as 0.

#not placed student are 67

# 3)Find the reason for non placement from the dataset?

#Human errors during data collection and entry.
#Equipment or software breakdowns causing machine errors;
#The duration and nature of the study.
#Data transfer and conversion.

In [ ]:
quan=[]
qual=[]
for columnName in dataset.columns:
    if(dataset[columnName].dtype=='O'):
        qual.append(columnName)
    else:
        quan.append(columnName)

In [ ]:
dataset[quan]

In [ ]:
qual

In [ ]:

descriptive = pd.DataFrame(index=["Mean", "Median", "Mode"], columns=quan)

for columnName in quan:
    descriptive.loc["Mean", columnName] = dataset[columnName].mean()
    descriptive.loc["Median", columnName] = dataset[columnName].median()  # Add median calculation
    descriptive.loc["Mode", columnName] = dataset[columnName].mode().iloc[0]
    data = {'status': dataset['status'],
        'ssc_p':dataset['ssc_p'],
        'hsc_p':dataset['hsc_p'],
        'degree_p':dataset['degree_p'],
        'etest_p':dataset['etest_p'],
        'mba_p':dataset['mba_p'],
        'salary':dataset['salary']}

df = pd.DataFrame(data)
df

In [ ]:
import pandas as pd
def analyze_placement_stats(dataset, status_column, numeric_columns):
  
    placed_students = dataset[dataset[status_column] != "Not Placed"]
    non_placed_students = dataset[dataset[status_column] == "Not Placed"]

    # Calculate descriptive statistics for each group
    stats = {}
    for group_name, group_data in [("Placed", placed_students), ("Not Placed", non_placed_students)]:
        stats[group_name] = {}
        for col in numeric_columns:
            stats[group_name][col] = {
                "Mean": group_data[col].mean(),
                "Median": group_data[col].median(),
                "Mode": group_data[col].mode().iloc[0] if not group_data[col].mode().empty else None
            }

    # Convert to DataFrame for better display
    stats_df = pd.DataFrame(stats).T.stack().apply(pd.Series)
   

    return stats_df




data = {'status': dataset['status'],
        'ssc_p':dataset['ssc_p'],
        'hsc_p':dataset['hsc_p'],
        'degree_p':dataset['degree_p'],
        'etest_p':dataset['etest_p'],
        'mba_p':dataset['mba_p'],
        'salary':dataset['salary']}
df = pd.DataFrame(data)  # Create DataFrame with all the data

numeric_columns = ['ssc_p','hsc_p','degree_p','etest_p','mba_p','salary']  # List of numeric columns

result = analyze_placement_stats(df, 'status', numeric_columns)
print(result)

#Observation: Significant difference. The "Placed" group shows a considerably higher performance .

#the "not placed" group shows a considerably lower performance.

# 4)What kind of relation between salary and mba_p

#using an correlation concept

In [ ]:
numeric_data = dataset.select_dtypes(include='number')
correlation_matrix = numeric_data.corr()
correlation_matrix

#the relation between salary and mba_p

#mba_p to salary positive correlation directly proportional relation 14%

# 5)Which specialization is getting maximum salary?

In [ ]:
dataset[["specialisation","salary"]]

In [ ]:
import pandas as pd

# Assuming your dataset is in a Pandas DataFrame called 'dataset'

selected_data = dataset[["specialisation", "salary"]]

# Group by specialization and find the maximum salary for each group
max_salaries = selected_data.groupby('specialisation')['salary'].max()

# Find the specialization with the overall maximum salary
specialization_max_salary = max_salaries.idxmax()
max_salary_value = max_salaries.max()

# Print the result
print(f"The specialization with the maximum salary is: {specialization_max_salary}")
print(f"The maximum salary is: {max_salary_value}")

In [ ]:
selected_data = dataset[["specialisation", "salary"]]

# Calculate the maximum salary
max_salary = selected_data['salary'].max()

# Calculate the minimum salary
min_salary = selected_data['salary'].min()

# Calculate the average salary
avg_salary = selected_data['salary'].mean() 

# Print the results
print("Maximum Salary:", max_salary)
print("Minimum Salary:", min_salary)
print("Average Salary:", avg_salary)

#geting maximum salry=706250.0

# 6)How many of them getting above 500000 salary?

In [ ]:
#  Count how many salaries are above 500000
above_50000_count = (selected_data['salary'] > 500000).sum()

if above_50000_count > 0:
    print(above_50000_count, "student are getting salaries above 500000")
else:
    print("No salaries are above 500000")

# 7)Test the Analysis of Variance between etest_p and mba_p at signifance level 5%.(Make decision using Hypothesis Testing)

In [ ]:
import scipy.stats as stats
stats.f_oneway(dataset['etest_p'],dataset['mba_p'])

#Null Hypothesis (H0): There is no significant difference between the mean etest_p scores and the mean mba_p scores.

#Alternative Hypothesis (H1): There is a significant difference between the mean etest_p scores and the mean mba_p scores.

#The p-value is 4.672547689133573e-21, which is extremely small (much less than 0.05). This means there is very strong evidence to reject the null hypothesis.

# 8)Test the similarity between the degree_t(Sci&Tech) and specialisation(Mkt&HR) with respect to salary at significance level of 5%.
# (Makedecision using Hypothesis Testing)

#using an T-test concept

In [ ]:
from scipy.stats import ttest_ind
dataset=dataset.dropna()
sci_tech=dataset[dataset['degree_t']=='Sci&Tech']['salary']
mkt_hr=dataset[dataset['specialisation']=='Mkt&HR']['salary']
ttest_ind(sci_tech,mkt_hr)

#Since the p-value is less than 0.05, we reject the null hypothesis.

 # 9)Convert the normal distribution to standard normal distribution for salary column

#The standard normal distribution (also known as the Z-distribution) has a mean of 0 and a standard deviation of 1.

#Converting a normal distribution to a standard normal distribution involves a process called standardization or Z-score normalization.

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(dataset["salary"])

In [ ]:
def stdNBgraph(ds):
    # converted to std normal distribution
    mean = ds.mean() 
    std = ds.std()  

    values = [i for i in ds]

    z_score = [((j - mean) / std) for j in values]  

    sns.distplot(z_score, kde=True)

    print(sum(z_score) / len(z_score))

In [ ]:
stdNBgraph(dataset['salary'])

 # 10)What is the probability Density Function of the salary range from 700000 to 900000?

#Instead, the PDF represents the density of probability around that point.

#We use the PDF to calculate the probability of the variable falling within a range of values.

In [ ]:
#pdf
def get_pdf_probability(ds,startrange,endrange):
    from matplotlib import pyplot
    from scipy.stats import norm
    import seaborn as sns
    ax=sns.distplot(ds,kde=True,kde_kws={'color':'blue'},color='green')
    pyplot.axvline(startrange,color='Red')
    pyplot.axvline(endrange,color='Red')
    #generate a sample
    sample=ds
    #calculate parameters
    sample_mean=sample.mean()
    sample_std=sample.std()
    print('Mean=%.3f,Standard Deviation=%.3f' %(sample_mean,sample_std))
    #define the distribution
    dist=norm(sample_mean,sample_std)

    #sample probabilities for a range of outcomes
    values=[value for value in range(startrange,endrange)]
    probabilities=[dist.pdf(value) for value in values]
    prob=sum(probabilities)
    print("The area between range({},{}):{}".format(startrange,endrange,sum(probabilities)))
   
    return prob

In [ ]:
get_pdf_probability(dataset["salary"],700000,900000)

 # 11)Test the similarity between the degree_t(Sci&Tech)with respect to etest_p and mba_p at significance level of 5%.(Make decision using Hypothesis Testing)

In [ ]:
from scipy.stats import ttest_ind
dataset=dataset.dropna()
etest_p=dataset[dataset['degree_t']=='Sci&Tech']['etest_p']
mba_p=dataset[dataset['degree_t']=='Sci&Tech']['mba_p']
ttest_ind(etest_p,mba_p)

#Since the p-value is less than 0.05, we reject the null hypothesis.

 # 12)Which parameter is highly correlated with salary?

In [ ]:
#using correlation

In [ ]:
numeric_data = dataset.select_dtypes(include='number')
covariance_matrix = numeric_data.corr()
covariance_matrix

#The parameter with the highest correlation with salary is ssc_p with a correlation coefficient of 0.558475.